/*font-family: 'Henny Penny', cursive;
font-family: 'Shadows Into Light', cursive;*/
.toDoContainer{
    background-color: #F8F9FA;}
h1{
    /*font-family: 'Rubik Puddles', cursive;*/
    font-family: 'Henny Penny', cursive;
    font-size: 6rem;
    color: #E3504E;
}
body{
    /*font-family: 'Nunito Sans', sans-serif;*/
    font-family: 'Shadows Into Light', cursive;
    background-color:#C3D6C4 ;
}

.doorstreep{
    text-decoration: line-through;
    color: red;
}   

.bla{
    color: green;
}   

bla{
    color: green;
}   
#outletColor{
    background-color:#C3D6C4 ;

}
.navbar{
    margin:0px;
}